@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-br from-indigo-100 via-pink-100 to-purple-100 text-gray-800 font-sans antialiased;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to bottom right, #fdf1ff, #eaeaff);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

